#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.reservations {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.reservation-card {
  border: 2px solid rgb(0, 24, 164);
  padding: 20px;
  margin: 2px;
  width: 200px;
}

form {
  max-width: 200px;
  margin: auto;
}

input {
  width: 100%;
  padding: 4px;
  margin: 2px;
  border: 2px solid rgb(0, 24, 164);
  color: rgb(0, 24, 164);
}

hr {
  height: 2px;
  border: 0;
  background: rgb(0, 24, 164);
}